<a href="https://colab.research.google.com/github/ghing-tae/kt-ai-2/blob/master/python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## python과 알고리즘 문제 정리
*   네 정수의 최댓값 구하기

In [1]:
def max4(a, b, c, d):
  maximum = a
  if b > maximum:
    maximum = b
  if c > maximum:
    maximum = c
  if d > maximum:
    maximum = d
  return maximum

print('네 정수의 최댓값을 구합니다. ')
a = int(input('정수 a값을 입력하세요. : '))
b = int(input('정수 b값을 입력하세요. : '))
c = int(input('정수 c값을 입력하세요. : '))
d = int(input('정수 d값을 입력하세요. : '))
print(f'최댓값 : {max4(a,b,c,d)}')

네 정수의 최댓값을 구합니다.

KeyboardInterrupt: ignored

*   a부터 b까지 정수의 합을 구합니다.

In [ ]:
print('a부터 b까지 정수의 합을 구합니다. ')

def sum_ab(a,b):
  sum_ab = 0
  if a > b:
    a,b = b,a
  for i in range(a,b+1):
    sum_ab += i
  return sum_ab

a = int(input('a의 값을 입력하세요. : '))
b = int(input('b의 값을 입력하세요. : '))
print(f'정수의 합은 : {sum_ab(a,b)}')

*   *를 출력하는 코드를 작성하세요.

In [ ]:
print('*를 출력합니다.')
def ch_prt(a,b):
  for _ in range(a//b):
    for _ in range(b):
      print('*', end='')
    print()
  print('*'*(a%b))
a = int(input('몇 개를 출력할까요? : '))
b = int(input('몇 개마다 줄바꿈을 할까요? : '))
ch_prt(a,b)

*   1부터 n까지 정수의 합을 구하시오. (무한루프와 break를 사용)

In [ ]:
print('1부터 n까지 정수의 합을 구합니다.')
def n_sum(a):
  while 1:   
    if a > 0:
      break
    a = int(input('n의 값을 입력하세요. : '))
  sum_n = 0
  for i in range(1,a+1):
    sum_n += i
  return sum_n
n = int(input('n의 값을 입력하세요. : '))
print(f'정수의 합은 : {n_sum(n)}')

*   직사각형의 넓이를 입력받으면 가로와 세로를 구하는 함수를 작성하세요. (중복되는 것 없이 출력되게 하시오)

In [ ]:
n = int(input('직사각형의 넓이를 적으세요. : '))
def area(n):
  for i in range(1,n+1):
    if i * i > n:break
    if n % i:continue
    print(f'{i} * {n//i}')
area(n)

- 1차원 배열 만들기

In [ ]:
# 1차원 리스트
a1 = [1,2,3,4,5]

# 배열로 변환
b1 = np.array(a1)

# 확인
print(a1)
print(b1)

- 2차원 배열 만들기

In [ ]:
# 2차원 리스트
a2 =[[1.5, 2.5, 3.2],[4.2, 5.7, 6.4]]

# 배열로 변환
b2 = np.array(a2)

# 확인
print(a2)
print(b2)

- 3차원 배열 만들기

In [ ]:
# 3차원 리스트
a3 = [[[1,2,3,],[4,7,6],[8,3,4]],[[6, 2, 4],[8,1,5],[3,5,9]]]
# 배열로 변환
b3 = np.array(a3)
# 확인
print(b3)

1. 차원 확인
- ndim 속성으로 배열 차원을 확인합니다.

In [ ]:
# 차원 확인
print(b1.ndim)
print(b2.ndim)
print(b3.ndim)

2. 형태(크기) 확인
- shape 속성으로 배열 형태를 확인합니다.
- 결과는 다음과 같은 형태의 튜블로 표시됩니다.
  - 1차원 : (x,)
  - 2차원 : (x,y)
  - 3차원 : (x,y,z)
- 앞에서 부터 axis 0, axis 1, axis 2의 크기를 의미합니다.

In [ ]:
# 형태(크기) 확인
print(b1.shape)
print(b2.shape)
print(b3.shape)

3. 요소 자료형 확인
- dtype 속성으로 배열에 포함된 요소들의 자료형을 확인합니다.
- 배열은 한 가지 자료형만 가질 수 있다는 특징이 있습니다.

In [ ]:
# 요소 자료형 확인
print(b1.dtype)
print(b2.dtype)
print(b3.dtype)

### 연습문제
- numpy 라이브러리를 np 별칭을 주어 불러오세요.
- 데이터를 갖는 1차원 배열을 만든 후 ndim,shape,dtype을 확인해 보세요.
  - c1 = np.array([10, 11, 12, 13, 14, 15])
- 다음에 주어진 리스트를 요소로 갖는 2차원 배열을 만든 후 ndim,shape,dtype을 확인해 보세요.
  - a = [[11, 12, 13, 14], [15, 16, 17, 18], [19, 20, 21, 22]]

In [ ]:
import numpy as np

In [ ]:
c1 = np.array([10,11,12,13,14,15])
print(c1.ndim)
print(c1.shape)
print(c1.dtype)

In [ ]:
a = np.array([[11,12,13,14],[15,16,17,18],[19,20,21,22]])
print(a.ndim)
print(a.shape)
print(a.dtype)

- Reshape
  - 배열에 포함된 요소가 사라지지 않는 형태라면 자유롭게 변환할 수 있습니다.

In [ ]:
# import numpy as np
a.reshape(2,-1)

### [참조] 3차원 배열(이미지 데이터셋)
- 보통 이미지 데이터는 3차원 배열로 구성하고 처리합니다.
- 여기서는 3차원 배열 데이터를 간단히 만들고 내용을 살짝 조회해 보겠습니다.

In [ ]:
import matplotlib.pyplot as plt
np.set_printoptions(linewidth=np.inf)

In [ ]:
# 데이터 가져와서 3차원으로 구성하기
data = np.genfromtxt('https://raw.githubusercontent.com/DA4BAM/dataset/master/mnist_sample.csv', delimiter=',', skip_header = 1)
d3 = data.reshape(-1,28,28) # 28*28 데이터 n개

In [ ]:
d3.shape

In [ ]:
# 3차원 데이터에서 첫번째 인덱스로 2차원 데이터 조회해오기
# 아래 숫자를 조정하며 확인해 봅시다.
n = 56
display(d3[n])

plt.imshow(d3[n])
plt.show()

### 연습문제
- 주어진 배열을 이용하여 다음 결과를 얻도록 문제를 푸시오.
  - a = np.array([[11,12,13,14,],[15,16,17,18],[19,20,21,22]])
- [문1] 16
- [문2] [19 20 21 22]
- [문3] [13 17 21]
- [문4] [16 22]
- [문5] [[16 17 20 21]]

In [ ]:
import numpy as np
a = np.array([[11,12,13,14,],[15,16,17,18],[19,20,21,22]])
print(a[1,1])
print(a[2,:])
print(a[:,2])
print(a[[1,2],[1,3]])
print(a[1:3,1:3])

- 조건 조회
  - 조건에 맞는 요소를 선택하는 방식이며, 블리안 방식이라고 부릅니다.

In [ ]:
# 2차원 배열 만들기
score = np.array([[78,91,84,89,93,65],[82,87,96,79,91,73]])
print(score)

In [ ]:
# 조건문 : 결과는 True, False
score >= 90

In [ ]:
# 요소 중에서 90 이상인 것만 조회
print(score[score >= 90])

- np.argmax(), np.argmin()
  - 전체에서 최대값과 최소값의 인덱스

In [ ]:
print(score)
print(np.argmax(score))
print(np.argmin(score))
print(np.argmax(score, axis = 0))
print(np.argmax(score, axis=1))

- np.where(조건문, 참일때 값, 거짓일때 값)

In [ ]:
np.where(score > 90, 1 , score)

- np.linspace(시작값, 끝값, 사이 값 갯수)

In [ ]:
# 0.1 ~ 10, 100개 값을 만들어 봅니다.
np.linspace(0.1,10,100)

In [ ]:
# 넘파이 라이브러리 불러오기
import numpy as np

# python 라이브러리

## 넘파이 기초


- 라이브러리 불러오기

## 판다스 데이터프레임 생성
- 라이브러리 불러오기

In [ ]:
# 라이브러리 불러오기
import pandas as pd

- 딕셔너리로 만들기

In [ ]:
# 딕셔너리 만들기
dict = {'Name': ['Gildong', 'Sarang', 'Jiemae', 'Yeoin'],
        'Level': ['Gold', 'Bronze', 'Silver', 'Gold'],
        'Score': [56000, 23000, 44000, 52000]}

# 확인
print(dict)

In [ ]:
# 데이터프레임 만들기
df = pd.DataFrame(dict)

# 확인
print(df.head()) # head의 default : 5

- CSV파일 읽어오기
  - read_csv() 함수를 사용하여 CSV 파일에서 데이터를 읽어옵니다.

In [ ]:
# 데이터 읽어오기
path = 'https://raw.githubusercontent.com/DA4BAM/dataset/master/titanic_simple.csv'
data = pd.read_csv(path)

# 상위 10행만 확인
data.head(10)

## python으로 딕셔너리 생성
  - 아래 값으로 딕셔너리 d를 생성해 봅시다.

|key |value|
|----|----|
|v1 |[1,2,3]|
|v2 |{'a':23, 'b':[4,5]}|

In [ ]:
d = {'v1': [1,2,3], 'v2':{'a':23,'b':[4,5]}}
d

- [문1] d에서 [1,2,3]을 출력해 봅시다.
- [문2] d에서 23을 출력해 봅시다.
- [문3] d에서 5를 출력해 봅시다.
- [문4] d에 key 'newKey', value (1,2) 를 추가하고 출력해봅시다.

In [ ]:
print(d['v1'])
print(d['v2']['a'])
print(d['v2']['b'][1])

In [ ]:
d['newKey'] = (1,2)
print(d)

# python WebCrawling
  - 웹페이지의 종류
    - 정적페이지 : 페이지의 데이터가 변경될 때 URL이 변경 O --> HTML
    - 동적페이지 : 페이지의 데이터가 변경될 때 URL이 변경 X --> JSON
  - requests package
    - 브라우져의 URL을 입력하면 서버에서 데이터를 다운받아 화면에 데이터를 출력 : URL > DATA
    - requests 패키지 : URL > DATA

In [2]:
import pandas as pd
import requests

### 1. 웹서비스를 분석 : 크롭 개발자 도구 : URL

In [3]:
url = "https://m.stock.naver.com/api/index/KOSPI/price?pageSize=10&page=4"

### 2. requests(url) > response(json) : JSON(str)

In [4]:
response = requests.get(url)
response

In [5]:
response.text

'[{"localTradedAt":"2022-06-23","closePrice":"2,314.32","compareToPreviousClosePrice":"-28.49","compareToPreviousPrice":{"code":"5","text":"하락","name":"FALLING"},"fluctuationsRatio":"-1.22","openPrice":"2,347.84","highPrice":"2,361.23","lowPrice":"2,306.48"},{"localTradedAt":"2022-06-22","closePrice":"2,342.81","compareToPreviousClosePrice":"-66.12","compareToPreviousPrice":{"code":"5","text":"하락","name":"FALLING"},"fluctuationsRatio":"-2.74","openPrice":"2,417.11","highPrice":"2,418.05","lowPrice":"2,342.81"},{"localTradedAt":"2022-06-21","closePrice":"2,408.93","compareToPreviousClosePrice":"17.90","compareToPreviousPrice":{"code":"2","text":"상승","name":"RISING"},"fluctuationsRatio":"0.75","openPrice":"2,402.99","highPrice":"2,423.48","lowPrice":"2,385.60"},{"localTradedAt":"2022-06-20","closePrice":"2,391.03","compareToPreviousClosePrice":"-49.90","compareToPreviousPrice":{"code":"5","text":"하락","name":"FALLING"},"fluctuationsRatio":"-2.04","openPrice":"2,449.89","highPrice":"2,449.89","lowPrice":"2,372.35"},{"localTradedAt":"2022-06-17","closePrice":"2,440.93","compareToPreviousClosePrice":"-10.48","compareToPreviousPrice":{"code":"5","text":"하락","name":"FALLING"},"fluctuationsRatio":"-0.43","openPrice":"2,409.72","highPrice":"2,441.34","lowPrice":"2,396.47"},{"localTradedAt":"2022-06-16","closePrice":"2,451.41","compareToPreviousClosePrice":"4.03","compareToPreviousPrice":{"code":"2","text":"상승","name":"RISING"},"fluctuationsRatio":"0.16","openPrice":"2,481.66","highPrice":"2,500.36","lowPrice":"2,447.33"},{"localTradedAt":"2022-06-15","closePrice":"2,447.38","compareToPreviousClosePrice":"-45.59","compareToPreviousPrice":{"code":"5","text":"하락","name":"FALLING"},"fluctuationsRatio":"-1.83","openPrice":"2,490.01","highPrice":"2,495.54","lowPrice":"2,436.04"},{"localTradedAt":"2022-06-14","closePrice":"2,492.97","compareToPreviousClosePrice":"-11.54","compareToPreviousPrice":{"code":"5","text":"하락","name":"FALLING"},"fluctuationsRatio":"-0.46","openPrice":"2,472.96","highPrice":"2,503.17","lowPrice":"2,457.39"},{"localTradedAt":"2022-06-13","closePrice":"2,504.51","compareToPreviousClosePrice":"-91.36","compareToPreviousPrice":{"code":"5","text":"하락","name":"FALLING"},"fluctuationsRatio":"-3.52","openPrice":"2,550.21","highPrice":"2,550.32","lowPrice":"2,504.51"},{"localTradedAt":"2022-06-10","closePrice":"2,595.87","compareToPreviousClosePrice":"-29.57","compareToPreviousPrice":{"code":"5","text":"하락","name":"FALLING"},"fluctuationsRatio":"-1.13","openPrice":"2,596.37","highPrice":"2,602.80","lowPrice":"2,583.74"}]'

### 3. JSON(str) > list, dict > DataFrame

In [6]:
data = response.json()
data[0], type(data)

({'closePrice': '2,314.32',
  'compareToPreviousClosePrice': '-28.49',
  'compareToPreviousPrice': {'code': '5', 'name': 'FALLING', 'text': '하락'},
  'fluctuationsRatio': '-1.22',
  'highPrice': '2,361.23',
  'localTradedAt': '2022-06-23',
  'lowPrice': '2,306.48',
  'openPrice': '2,347.84'},
 list)

In [7]:
df = pd.DataFrame(data)[['localTradedAt','closePrice']]
df.tail(2)

  localTradedAt closePrice
8    2022-06-13   2,504.51
9    2022-06-10   2,595.87

### 4. 함수 만들기
- params : pagesize, page, code

In [8]:
def stock_price(pagesize,page,code = "KOSPI"):
  """This Function is crawling stock price from naver webpage.
  Params
  ------
  pagesize : int : one page size
  page : int : page number
  code : str : KOSPI or KOSDAQ

  Return
  ------
  type : DataFrame : display date, price columns
  """
  url = f"https://m.stock.naver.com/api/index/{code}/price?pageSize={pagesize}&page={page}"
  response = requests.get(url)
  data = response.json()
  df = pd.DataFrame(data)[['localTradedAt','closePrice']]
  return df

- docstring : 함수를 사용하는 방법을 문자열로 작성
- help(), shift + tab

In [9]:
help(stock_price)

Help on function stock_price in module __main__:

stock_price(pagesize, page, code='KOSPI')
    This Function is crawling stock price from naver webpage.
    Params
    ------
    pagesize : int : one page size
    page : int : page number
    code : str : KOSPI or KOSDAQ

    Return
    ------
    type : DataFrame : display date, price columns

In [10]:
stock_price(30, 1).tail(2)

   localTradedAt closePrice
28    2022-06-27   2,401.92
29    2022-06-24   2,366.60

- 최근 60일치 코스피, 코스닥, 원달러 데이터 수집
- 데이터 전처리

In [11]:
def oneDollar_price(pagesize,page):
  
  url = f"https://api.stock.naver.com/marketindex/exchange/FX_USDKRW/prices?page={page}&pageSize={pagesize}"
  response = requests.get(url)
  data = response.json()
  df = pd.DataFrame(data)[['localTradedAt','closePrice']]
  return df

In [12]:
kospi = stock_price(60,1,'KOSPI')
kosdaq = stock_price(60,1,'KOSDAQ')
usd = oneDollar_price(60,1)
kospi.tail(2), kosdaq.tail(2), usd.tail(2)

(   localTradedAt closePrice
 58    2022-05-12   2,550.08
 59    2022-05-11   2,592.27,    localTradedAt closePrice
 58    2022-05-12     833.66
 59    2022-05-11     866.34,    localTradedAt closePrice
 58    2022-05-12   1,290.50
 59    2022-05-11   1,274.50)

In [13]:
df = kospi.copy()[['closePrice']]
df.tail(2)

   closePrice
58   2,550.08
59   2,592.27

In [14]:
df['kosdaq'] = kosdaq['closePrice']
df['usd'] = usd['closePrice']
df = df.rename(columns={'closePrice' : 'kospi'})
df.tail(2)

       kospi  kosdaq       usd
58  2,550.08  833.66  1,290.50
59  2,592.27  866.34  1,274.50

In [15]:
df['kospi'] = df['kospi'].apply(lambda data: float(data.replace(",","")))
df['kosdaq'] = df['kosdaq'].apply(lambda data: float(data.replace(",","")))
df['usd'] = df['usd'].apply(lambda data: float(data.replace(",","")))
df.tail(2)

      kospi  kosdaq     usd
58  2550.08  833.66  1290.5
59  2592.27  866.34  1274.5

In [16]:
df.corr()

           kospi    kosdaq       usd
kospi   1.000000  0.983361 -0.870427
kosdaq  0.983361  1.000000 -0.808317
usd    -0.870427 -0.808317  1.000000

- kospi - kosdaq : 0.984 : 1과 가까우니 강한 양의 상관관계
- kospi - usd : -0.876 : -1과 가까우니 강한 음의 상관관계

# python API
- application programing interface
- api를 사용해서 데이터를 수집하는 것은 서비스에서 데이터를 제공하는 공식적인 방법으로 데이터 수집
- naver api : papago api : 번역 서비스
- naver api : 데이터 검색

In [17]:
import pandas as pd
import requests, json

### 1. APP 등록 > app_key(request_taken)
- https://developers.naver.com

In [18]:
CLIENT_ID, CLIENT_SECRET = "H1akhGoQFlDY73HdYN9C", "gFsbQsXEBs"

### 2. Naver API Documents 확인 > URL

In [43]:
url = "https://openapi.naver.com/v1/papago/n2mt"
text = "파이썬은 너무 재미있습니다."
params = {
  "source" : "ko",
  "target" : "en",
  "text" : text,
}
headers = {
  "Content-Type" : "application/json",
  "X-Naver-Client-Id": CLIENT_ID,
  "X-Naver-Client-Secret": CLIENT_SECRET, 
}

### 3. request(url, app_key) > response(json) : JSON(str)
- json.dumps()
  - 인터넷 트래픽에서는 영문, 숫자, 특수문자만 사용가능
  - 한글과 같은 문자를 인코딩(영문, 숫자, 특수문자)

In [44]:
params, json.dumps(params)

({'source': 'ko', 'target': 'en', 'text': '파이썬은 너무 재미있습니다.'},
 '{"source": "ko", "target": "en", "text": "\\ud30c\\uc774\\uc36c\\uc740 \\ub108\\ubb34 \\uc7ac\\ubbf8\\uc788\\uc2b5\\ub2c8\\ub2e4."}')

In [50]:
response = requests.post(url, json.dumps(params), headers = headers)
response, response.text, response.json()

(<Response [200]>,
 '{"message":{"result":{"srcLangType":"ko","tarLangType":"en","translatedText":"Python is so much fun.","engineType":"N2MT","pivot":null,"dict":null,"tarDict":null},"@type":"response","@service":"naverservice.nmt.proxy","@version":"1.0.0"}}',
 {'message': {'@service': 'naverservice.nmt.proxy',
   '@type': 'response',
   '@version': '1.0.0',
   'result': {'dict': None,
    'engineType': 'N2MT',
    'pivot': None,
    'srcLangType': 'ko',
    'tarDict': None,
    'tarLangType': 'en',
    'translatedText': 'Python is so much fun.'}}})

### 4. JSON(str) > list, dict > str

In [51]:
data = response.json()["message"]["result"]["translatedText"]
data

'Python is so much fun.'

### 5. 함수 만들기

In [52]:
def translate_ko(text):
  url = "https://openapi.naver.com/v1/papago/n2mt"
  params = {
    "source" : "ko",
    "target" : "en",
    "text" : text,
  }
  headers = {
    "Content-Type" : "application/json",
    "X-Naver-Client-Id": CLIENT_ID,
    "X-Naver-Client-Secret": CLIENT_SECRET, 
  }
  response = requests.post(url, json.dumps(params), headers = headers)
  return response.json()["message"]["result"]["translatedText"]

In [53]:
translate_ko("복습은 재미있다.")

'Reviewing is fun.'

### 6. 한들 excel 파일을 영문 excel 파일로 변경
- %ls
  - 저장되어 있는 파일 확인
- read_excel
  - 저장되어 있는 excel 파일을 읽는다.

In [55]:
%ls

covid.xlsx  sample_data/

In [68]:
# colab에서는 다시 실행하면 리셋되어서 확인하려면 파일 저장하고 실행해야 한다.
covid = pd.read_excel("covid.xlsx")[["category","title"]]
covid.tail(3)

   category                                title
3       103            프로야구 수도권 구단서 코로나19 확진자 발생
4       104    "코로나 확진자 '0명'인 날은 절대 오지 않는다" 美전문가
5       104  올림픽 다가오는데 도쿄 코로나 확산 빨라져...일주일새 25％↑

In [69]:
# .apply() : 전부 한번씩 함수로 계산한다.
covid_title_en = covid["title"].apply(translate_ko)
covid_title_en.tail(3)

3    Covid-19 confirmed cases in professional baseb...
4    "The day when there are zero confirmed cases o...
5    As the Olympics are approaching, the spread of...
Name: title, dtype: object

In [70]:
covid["title_en"] = covid_title_en
covid

,category,title,title_en
0,101,"SK바이오사이언스, 코로나19 백신 임상 3상 시험계획 제출",SK Bioscience Submits Phase III Clinical Trial...
1,102,고양시 노래연습장 코로나19 누적확진 41명,41 cumulative COVID-19 confirmed patients at G...
2,103,"코로나19 신규 감염, 28일 오후 9시까지 542명","New COVID-19 infections, 542 people by 9 p.m. ..."
3,103,프로야구 수도권 구단서 코로나19 확진자 발생,Covid-19 confirmed cases in professional baseb...
4,104,"""코로나 확진자 '0명'인 날은 절대 오지 않는다"" 美전문가","""The day when there are zero confirmed cases o..."
5,104,올림픽 다가오는데 도쿄 코로나 확산 빨라져...일주일새 25％↑,"As the Olympics are approaching, the spread of..."

In [72]:
# utf-8-sig : excel 에서 사용하는 인코딩 방식과 호환이 되는 utf-8 인코딩 방식
covid.to_excel("covid_title_en.xlsx", index = False, encoding = "utf-8-sig")

In [73]:
%ls

covid_title_en.xlsx  covid.xlsx  sample_data/

# 알쓸코드
- %ls
  - 파일 무엇이 있는지 확인
- utf-8-sig
  - excel에서 사용하는 인코딩 방식과 호환이 되는 utf-8 인코딩 방식
- %%time
  - 코드 실행 시간을 알려준다.
- global
  - 지역영역에서 전역영역에 있는 변수를 가져올때 사용하는 명령어
- lambda
  - 간단하게 바로 실행하고 사라지는 함수
- .corr()
  - 피어슨 상관계수
    - 1과 가까울수록 강한 양의 상관관계
    - -1과 가까울수록 강한 음의 상관관계
    - 0과 가까울수록 관계가 없다.
- copy()
  - 데이터를 복사할 때 사용한다.
  - 깊은 복사 (call by value)
- .apply()
  - 모든 데이터를 함수에 대입한 결과를 출력
- .dtypes
  - type을 알려준다.
- .head()
  - 앞에 몇가지만 가져와서 보여준다.
- .tail()
  - 뒤에 몇가지만 가져와서 보여준다.